{%- include social.html -%}

<hr style="margin:20px 0 15px 0;width:85%;margin-left:auto;margin-right:auto;">

<footer class="site-footer h-card">
<data class="u-url" href="{{ "/" | relative_url }}"></data>

<div class="wrapper">
<a href="https://iww.org" style="display:block;margin-left:auto;margin-right:auto;height:90px;width:90px;opacity:.85;border-radius:100%;">
<img src="{{ site.baseurl }}/assets/footer.png" style="border-radius:100%;" alt="IWW Globe">
</a>
<p id="footer_text"></p>
</div>
<script>
var randomNumber = Math.random();

if (randomNumber <= .5) {
  document.getElementById("footer_text").innerHTML = "Labor is entitled to all it produces";
  document.getElementById("footer_text").style.letterSpacing = "-.2px";
} else {
  document.getElementById("footer_text").innerHTML = "An injury to one is an injury to all";
  document.getElementById("footer_text").style.letterSpacing = "-1px";
}
</script>

</footer>

<div id="google_translate_element" style="display:none;"></div>
<script type="text/javascript">
function googleTranslateElementInit() {
new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'es', layout: google.translate.TranslateElement.FloatPosition.TOP_RIGHT}, 'google_translate_element');
}
</script>

<style>
.goog-te-banner-frame.skiptranslate {
display: none !important;
}

body {
top: 0px !important;
}

.goog-tooltip {
display: none !important;
}

.goog-tooltip:hover {
display: none !important;
}

.goog-text-highlight {
background-color: transparent !important;
border: none !important;
box-shadow: none !important;
}

/* .goog-text-highlight {
background-color: #F29397 !important;
border: none !important;
} */
</style>

<script>
function getCookie(cookiename) {
var cookiestring=RegExp(""+cookiename+"[^;]+").exec(document.cookie);
return decodeURIComponent(!!cookiestring ? cookiestring.toString().replace(/^[^=]+./,"") : "");
}

function loadTranslate() {
document.getElementsByClassName("site-header")[0].insertAdjacentHTML('beforeBegin',
  '<div style="z-index:10;position:fixed;padding:0px 10px 0px 10px;bottom:0;right:20px;text-align:center;border-radius: 7px 7px 0px 0px;box-shadow: 5px 10px 20px #888888;background:#222222;"><a onclick="translateSpan()" style="color:#FFFFFF;cursor:pointer;font-family:\'Mukta\',arial,sans-serif;font-size:13px;font-weight:300;font-style:normal;letter-spacing:1px;text-transform:none;line-height:1.2em;" id="translateLink" class="notranslate"></a></div>');

var transCookie = getCookie("googtrans");

if (transCookie == "/en/es") {
var script = document.createElement("script");
script.type = "text/javascript";
script.src = "//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit";
document.body.appendChild(script);
document.getElementById("translateLink").innerHTML = "View in English";
document.getElementsByClassName("titleIWW")[0].innerHTML = "Industrial Workers of the World";
document.getElementById("IWWlogo").src = "{{ site.baseurl }}/assets/logo-es.png";
try {
document.getElementById("continue-button").value = "Continuar ▶︎";
document.getElementById("back-button").value = "◀︎ Volver";
} catch {
void(0);
}
} else {
document.getElementById("translateLink").innerHTML = "Ver en Español";
}

history.pushState("", document.title, window.location.pathname);
}

function translateSpan() {
var transCookie = getCookie("googtrans");
var transLink = "";
var domain = document.domain.split('.').reverse().splice(0,2).reverse().join('.');

if (transCookie == "/en/es") {
transLink = "#googtrans(en)";
document.cookie = "googtrans=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
document.cookie = "googtrans=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/; domain=." + domain;
} else {
transLink = "#googtrans(es)";
document.cookie = "googtrans=/en/es; path=/;";
document.cookie = "googtrans=/en/es; path=/; domain=." + domain;
}

window.location = transLink;
location.reload(true);
}

window.addEventListener('load', function (){
loadTranslate();
});
</script>
