<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/form.css" | relative_url }}">
  <title>{%- if page.title -%}{{ page.title }}{{ ' · ' }}{%- endif -%}{{ site.title }}</title>
  <!--<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>-->
  {% seo %}
</head>
