.pp-options {
	text-align: center;
}

.pp-sub.join {
	margin: 0 auto;
	width: 100%;
}

.pp-sub.dues {
	height: 611px;
	position: relative;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-ms-perspective: 1000px;
	-o-perspective: 1000px;
	perspective: 1000px;
}

div.duesLevels {
	text-align: left;
	position: relative;
	left: 25%;
	width: 65%;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: auto;
}

@media only screen and (max-device-width: 639px) {
	div.duesLevels {
		left: 0;
		width: 100%;
	}
	div.pp-selection {
		height: 200px !important;
	}
	.pp-sub.dues {
		height: 611px;
	}
	.pp-sub.join {
		height: 1100px;
	}
}

@media only screen and (max-device-width: 450px) {
	.pp-sub.dues {
		-webkit-perspective: 0px !important;
		-moz-perspective: 0px !important;
		-ms-perspective: 0px !important;
		-o-perspective: 0px !important;
		perspective: 0px !important;
	}
}

@media only screen and (max-device-height: 667px) {
	.pp-sub.dues > div.duesLevels {
		left: 0;
		width: 100%;
	}
	.pp-sub.dues > div.pp-selection {
		height: 265px !important;
	}
}

.duesLevels.join div {
	color: #AAAAAA;
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 150px;
}

.duesLevels.dues div {
	color: #AAAAAA;
	display: block;
	position: relative;
	float: left;
	width: 100%;
	height: 125px;
}

.duesLevels div input[type=radio] {
	position: absolute;
	visibility: hidden;
}

.duesLevels div label {
	display: block;
	position: relative;
	font-weight: 300;
	font-size: 1.35em;
	padding: 15px 25px 25px 80px;
	margin: 10px auto;
	height: 30px;
	z-index: 9;
	cursor: pointer;
	-webkit-transition: all linear;
	-moz-transition: all linear;
}

.duesLevels div:hover label {
	color: /*#000000*/#AAAAAA;
}

.duesLevels div .check {
	display: block;
	position: absolute;
	border: 5px solid #AAAAAA;
	border-radius: 100%;
	height: 25px;
	width: 25px;
	top: 23px;
	left: 20px;
	z-index: 5;
	-webkit-transition: border .25s linear;
	-moz-transition: border .25s linear;
	transition: border .25s linear;
}

.duesLevels div:hover .check {
	border: 5px solid /*#000000*/#AAAAAA;
}

.duesLevels div .check::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 15px;
	width: 15px;
	top: 5px;
	left: 5px;
	margin: auto;
	-webkit-transition: background 0.25s linear;
	-moz-transition: background 0.25s linear;
	transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
	border: 5px solid /*#CB242B*/#AAAAAA;
}

input[type=radio]:checked ~ .check::before {
	background: /*#CB242B*/#AAAAAA;
}

input[type=radio]:checked ~ label {
	color: /*#CB242B*/#AAAAAA;
}

input[type=text], input[type=number], input[type=date] {
	height: 50px;
	width: 200px;
	padding: 12px 20px;
	text-align: center;
	box-sizing: border-box;
	border: 2px solid /*#272727*/#AAAAAA;
	border-radius: 4px;
	background: none;
	-webkit-transition: background 0.25s linear;
	-moz-transition: background 0.25s linear;
	transition: background 0.25s linear;
	letter-spacing: .5px;
	font-size: 16px !important;
}

input[type=text]:focus, input[type=number]:focus, input[type=date]:focus {
	background: /*#000000*/#AAAAAA;
	color: #FFFFFF;
}

#pp-select {
	padding: 20px;
	width: 175px;
	margin-top: 12px;
	text-align: center;
	box-sizing: border-box;
	border: 2px solid /*#272727*/#AAAAAA;
	border-radius: 4px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-transition: background 0.25s linear;
	-moz-transition: background 0.25s linear;
	transition: background 0.25s linear;
	letter-spacing: .5px;
	background: none;
	outline: none;
	font-size: 16px !important;
}

#pp-select:focus {
	background: /*#000000*/#AAAAAA;
	color: #FFFFFF;
}

label.pp-select {
	position: relative;
	display: inline-block;
}

.pp-select:after {
	content: "\25bc";
	position: absolute;
	top: 12px;
	right: 0;
	bottom: 2px;
	font-size: 60%;
	line-height: 65px;
	padding: 0px 7px;
	background: /*#000000*/#AAAAAA;
	color: #FFFFFF;
	pointer-events: none;
	-webkit-border-radius: 0 6px 6px 0;
	-moz-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
}

.select-option {
	display: none;
}

#other-div {
	display: none;
	margin-top: 36px;
}

#break {
	transition: height 1s ease;
	padding: 0;
	margin: 0;
	width: 100%;
}

.pp-sub #form-cube {
	height: 100%;
	width: 100%;
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-ms-transition: -ms-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
}

.pp-sub #form-cube .side {
	background: none;
	display: block;
	position: absolute;
	width: 100%;
	border: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.pp-sub #form-cube #front {
	-webkit-transform: translateZ(200px);
	-moz-transform: translateZ(200px);
	-ms-transform: translateZ(200px);
	-o-transform: translateZ(200px);
	transform: translateZ(200px);
	transition: opacity .8s ease-in-out;
	-webkit-transition: opacity .8s ease-in-out;
	-moz-transition: opacity .8s ease-in-out;
	opacity: 1;
}

.pp-sub #form-cube #right {
	-webkit-transform: rotateY(90deg) translateZ(200px);
	-moz-transform: rotateY(90deg) translateZ(200px);
	-ms-transform: rotateY(90deg) translateZ(200px);
	-o-transform: rotateY(90deg) translateZ(200px);
	transform: rotateY(90deg) translateZ(200px);
	transition: opacity .8s ease-in-out;
	-moz-transition: opacity .8s ease-in-out;
	-webkit-transition: opacity .8s ease-in-out;
	opacity: 0;
}

.pp-sub #form-cube.show-front {
	-webkit-transform: translateZ(-200px);
	-moz-transform: translateZ(-200px);
	-ms-transform: translateZ(-200px);
	-o-transform: translateZ(-200px);
	transform: translateZ(-200px);
}

.pp-sub #form-cube.show-right {
	-webkit-transform: translateZ(-200px) rotateY(-90deg);
	-moz-transform: translateZ(-200px) rotateY(-90deg);
	-ms-transform: translateZ(-200px) rotateY(-90deg);
	-o-transform: translateZ(-200px) rotateY(-90deg);
	transform: translateZ(-200px) rotateY(-90deg);
}
