---
layout: default
---
<article class="event">
<h1>{{ page.title | escape }}</h1>
<time style="font-size:18px;">

{% assign d = page.date | date: "%-d" %}
{{ page.date | date: "%A, %B" }}
{% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
{{ page.date | date: "%Y" }}

{%- if page.last-date -%}&nbsp;– 
{% assign l = page.last-date | date: "%-d" %}
{{ page.last-date | date: "%A, %B" }}
{% case l %}{% when '1' or '21' or '31' %}{{ l }}st{% when '2' or '22' %}{{ l }}nd{% when '3' or '23' %}{{ l }}rd{% else %}{{ l }}th{% endcase %},
{{ page.last-date | date: "%Y" }}
{%- endif -%}<br>

{{ page.time }}</time><br><br>

{{ content | newline_to_br | replace: "</p><br />", "</p><br>" | remove: "<br />" }}

<a href="https://calendar.google.com/calendar/embed?src=organize@iww.nyc">Subscribe to the IWW NYC GMB Google Calendar.</a><br>
Email us at <a href="mailto:organize@iww.nyc">organize@iww.nyc</a> (<a href="{{ site.baseurl }}/assets/keys/publickey.organize@iww.nyc.asc">public key</a>) to submit radical events in and around New York City to the NYC GMB Calendar.
</article>
